---
import BaseLayout from '../layouts/base.astro';
import projects from '../data/projects.json';
import VideoGross from '../components/vimeo640.astro';
import VideoKlein from '../components/vimeo320.astro';
---

<BaseLayout title="Portfolio">

  <h1>Portfolio</h1>

  <div class="projects-grid">
    {projects.map(project => (
	  <h2><a href={`/projects/${project.slug}`}>{project.title}</a></h2>
      <VideoKlein project={project} />
    ))}
  </div>

</BaseLayout>

