---
const { project } = Astro.props;
---

<div class="video-card">
  {project.videos.map(video => (
    <iframe
      src={video.replace("vimeo.com/", "player.vimeo.com/video/")}
      width="320"
      height="180"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
    ></iframe>
  ))}
</div>
