---
import BaseLayout from '../../layouts/base.astro';
import projects from '../../data/projects.json';
import VideoGross from '../../components/vimeo640.astro';

export async function getStaticPaths() {
  return projects.map(project => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;
const project = projects.find(p => p.slug === slug);
---

<BaseLayout title={project.title}>

  <h1>{project.title}</h1>

  <div class="projects-single">
    {project.videos.map(video => (
      <VideoGross project={project} />
    ))}
  </div>

</BaseLayout>

